<% content_for :title, "Posts" %>

<div class="d-none d-md-block mt-5 sticky-top float-end text-right d-flex justify-contend-end ms-2" style="z-index:0">
  <%= render "form", post: @post %>
</div>


<div class="row">
  <div class="col"><h1>Public Posts</h1></div>
  <%= render "layouts/buttons" %>


</div>

<div id="posts" class="row">
  <% @posts.each.with_index(1) do |post, index| %>
    <%= render post %>
    <% if index%3==0 %>
      <div class="w-100"></div>
    <% end %>
  <% end %>
</div>
