<% content_for :title, "Redirect Posts" %>

<div class="row">
  <!-- Main Content Column -->
  <div class="col-md-8">
    <h1 class="mb-4">Redirect Posts</h1>

    <!-- Tabs -->
    <%= render "tabs" %>

    <% @posts_by_date.each do |date, posts| %>
      <div class="date-header">
        <i class="fas fa-calendar-day date-icon"></i>
        <span><%= date.strftime('%B %d, %Y') %></span>
      </div>

      <div class="row">
        <% posts.each do |post| %>
          <div class="col-md-6 mb-4">
            <%= render "redirect_card", post: post %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- Sidebar Column with Form -->
  <div class="col-md-4 d-none d-md-block">
    <div class="sidebar-form">
      <h4 class="mb-3">New Post</h4>
      <%= render "form", post: @post %>
    </div>
  </div>
</div>
