<div class="btn-group me-2">
  <button type="button" class="btn btn btn-outline-primary"><%= current_user.username %></button>
  <button type="button" class="btn btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to "Profile", edit_user_registration_path, class: "dropdown-item disabled" %></li>
    <li><%= link_to "Settings", edit_user_registration_path, class: "dropdown-item"%></li>
    <%# <li><a class="dropdown-item" href="#"></a></li> %>
    <li><hr class="dropdown-divider"></li>
    <li><%= button_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item", form: { data: { turbo: false } } %></li>
  </ul>
</div>
